/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: middle;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	column-rule-style: solid;
	line-height: 1;
	column-count: 3;
	grid-column-start: auto;
	padding-left: 30px;
	column-rule-style: groove;
	column-gap: 90px;
	column-rule-color: rgb(196, 0, 121);
	column-rule-width: 6px;
	background-color: rgb(254, 254, 243);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
h1 {font-family: Arial, Helvetica, sans-serif; 
font-size: x-large;
font-weight:bold;
padding-top: 20px;
padding-bottom: 20px;
column-span: all;
color: rgb(100, 0, 62);
}
.trinket-image { 
	width:100px;
	padding-top: 5px;
	padding-bottom: 0px;
	column-span: all;

}
h2 {font-family: Arial, Helvetica, sans-serif;
	font-size: larger; 
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 1px;
	column-gap: 10px;
	}
p {width: 160px;
font-family: Arial, Helvetica, sans-serif;
font-size: small;
padding-top: 10px;
}
.tag {font-family: Arial, Helvetica, sans-serif;
	font-size: 9pt;
	padding-top: 1px;
	padding-bottom: 1px;
	color: rgb(196, 0, 121);
}
h4 {font-family: Arial, Helvetica, sans-serif;
	font-size: 5pt;
	font-style: italic;
	padding-top: 4px;

}


